# Ignore all JSON files
demo.json

# Ignore all text files
*.txt

# Ignore virtual environment directories
tbe/
.tbe/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE project files
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
dist

# Ignore system files
.DS_Store
Thumbs.db

node_modules

# logs
*.log

# next.js
.next
next-env.d.ts

# build
/app